$white: #e0e0e0;
$white-two: #f7f7f7;
$white-four: #fff;
$white-five: #d2d2d2;
$algae: #56b467;
$warm-grey: #8c8c8c;
$dark-sky-blue: #55acee;
$black-two: #333;
$night: #292929;
$dark: #242a42;
$white-six: #ddd;
$greeny-blue: #4eb495;
$black-70: rgba(41, 41, 41, 0.7);
$pale-grey: #f9fafd;
$white-six: #e2e2e2;